<section id="card">
  <div class="top-info">
    <img class="thumbnail" [src]="photo().thumbnailUrl" alt="" />
    <h3 class="photo-title">{{ photo().title }}</h3>
  </div>
  <div class="bottom-info">
    <h4 class="post-title">{{ post().title }}</h4>
    <p class="post-description">{{ post().body }}</p>
  </div>
  <div class="buttons">
    <button (click)="updateCard(post().id)">Update Card</button>
    <button (click)="deleteCard(post().id)">Delete Card</button>
    <!-- <button (click)="updatePhoto(photo().id)">Update Photo</button>
    <button (click)="deletePhoto(photo().id)">Delete Photo</button> -->
  </div>
</section>
